@page
@model FSPBook.Portal.Pages.ProfileModel

<div class="text-center">
    <h1 class="display-4">@Model.Profile.FirstName's Profile</h1>
</div>

<div class="container-fluid dashboard">

    <div class="row">
        <div class="col-md-6">
            <partial name="PostFeed" model="@Model.Posts" />

        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Model.Profile.FullName</h5>
                    <p class="card-text">@Model.Profile.JobTitle</p>
                </div>
            </div>
        </div>
    </div>
</div>
